<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layouts/head', { title: 'HATShop - Cart' }) %>
</head>

<body>
  <%- include('../../layouts/header') %>

    <%- include('../../layouts/navbar', { isLoggedIn: isLoggedIn }) %>

      <!-- breadcrumb -->
      <div class="container py-4 flex items-center gap-3">
        <a href="/" class="text-primary text-base">
          <i class="fa-solid fa-house"></i>
        </a>
        <span class="text-sm text-gray-400">
          <i class="fa-solid fa-chevron-right"></i>
        </span>
        <p class="text-gray-600 font-medium">Cart</p>
      </div>
      <!-- ./breadcrumb -->

      <!-- wrapper -->
      <div class="container grid lg:grid-cols-12 items-start gap-6 pt-4 pb-16">
        <!-- Cart -->
        <div class="lg:col-span-9 space-y-4">
          <% cart.forEach(item=> { %>
            <div class="flex items-center border justify-between p-4 border-gray-200 rounded"
              id="product_<%= item.product_id %>">
              <div class="w-28">
                <img src="<%= item.product.images[0].img_src %>" alt="<%= item.product.product_name %>"
                  class="w-full" />
              </div>
              <div class="w-1/3">
                <a class="text-gray-800 text-lg font-medium" href="/product?id=<%= item.product.product_id %>">
                  <%= item.product.product_name %>
                </a>
                <p class="text-gray-500 text-sm">
                  Availability: <span class="<%= item.product.quantity > 0 ? 'text-green-600' : 'text-red-600' %>">
                    <%= item.product.quantity> 0 ? 'In Stock: ' + item.product.quantity : 'Out of Stock' %>
                  </span>
                </p>

                <!-- Quantity controls -->
                <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300 w-max mt-3">
                  <button class="h-7 w-7 text-xl flex items-center justify-center cursor-pointer select-none"
                    onclick="updateQuantity('<%= item.product_id %>', 'decrease', '<%= item.product.quantity %>')">-</button>
                  <div id="quantity_<%= item.product_id %>"
                    class="h-7 w-7 text-sm flex items-center justify-center text-center">
                    <%= item.quantity %>
                  </div>
                  <button class="h-7 w-7 text-xl flex items-center justify-center cursor-pointer select-none"
                    onclick="updateQuantity('<%= item.product_id %>', 'increase', '<%= item.product.quantity %>')">+</button>
                </div>
              </div>
              <div id="product-total_<%= item.product_id %>" class="text-primary text-lg font-semibold">
                $<%= (item.product.price * item.quantity).toFixed(2) %>
              </div>

              <!-- Remove button -->
              <button type="button" class="text-gray-600 cursor-pointer hover:text-primary remove-from-cart"
                id="remove_button_<%= item.product_id %>"
                onclick="removeProduct('<%= item.product_id %>', 'increase', '<%= item.product.quantity %>')">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
            <% }); %>
        </div>

        <!-- total -->
        <div class="lg:col-span-3">
          <div class="border border-gray-200 rounded p-6 space-y-3">
            <h2 class="text-gray-800 text-lg font-semibold">Cart Total</h2>
            <div class="flex justify-between">
              <span class="text-gray-600">Subtotal:</span>
              <span id="cart-subtotal" class="text-primary font-semibold">
                $<%= cart.reduce((total, item)=> total + item.product.price * item.quantity, 0).toFixed(2) %>
              </span>
            </div>
            <div class="flex justify-between border-b pb-3">
              <span class="text-gray-600">Shipping:</span>
              <span id="shipping-fee">
                <% if (isFreeShipping) { %>
                  <span class="text-gray-400 line-through">$<%= shippingFee %></span>
                  <span class="text-primary font-semibold">$0</span>
                  <% } else { %>
                    <span class="text-primary font-semibold">$<%= shippingFee %></span>
                      <% } %>
              </span>
            </div>
            <div class="flex justify-between">
              <span class="text-gray-600 font-semibold">Total:</span>
              <span id="total-price" class="text-primary font-semibold">
                $<%= (cart.reduce((total, item)=> total + item.product.price * item.quantity, 0) + shippingFee).toFixed(2) %>
              </span>
            </div>
          </div>
          <a href="/checkout"
            class="block w-full py-3 px-4 mt-6 text-center text-white bg-primary border border-primary rounded-md hover:bg-transparent hover:text-primary transition font-medium">Checkout</a>
        </div>
        <!-- ./total -->
      </div>
      <!-- ./wrapper -->

      <%- include('../../layouts/footer') %>
      <script type="module" src="/public/js/Cart.js"></script>
</body>

</html>