<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layouts/head', { title: 'HATShop - Home decoration' }) %>
</head>

<body>
  <%- include('../../layouts/header') %>

    <%- include('../../layouts/navbar') %>

      <!-- banner -->
      <div class="bg-cover bg-no-repeat bg-center py-36"
        style="background-image: url('/public/assets/images/banner-bg.jpg')">
        <div class="container">
          <h1 class="text-6xl text-gray-800 font-medium mb-4 capitalize">
            best collection for <br />
            home decoration
          </h1>
          <p>
            HATShop is your go-to for stylish home decor that transforms any space
            into a warm and inviting environment. <br />
            Our curated collection features high-quality furniture, textiles, and
            unique accents, perfect for personalizing your home. <br />
            Explore HATShop to find decor that reflects your style!
          </p>
          <div class="mt-12">
            <a href="/shop"
              class="bg-primary border border-primary text-white px-8 py-3 font-medium rounded-md hover:bg-transparent hover:text-primary">Shop
              Now</a>
          </div>
        </div>
      </div>
      <!-- ./banner -->

      <!-- features -->
      <div class="container py-16">
        <div class="w-10/12 grid grid-cols-1 md:grid-cols-3 gap-6 mx-auto justify-center">
          <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
            <img src="/public/assets/icons/delivery-van.svg" alt="Delivery" class="w-12 h-12 object-contain" />
            <div>
              <h4 class="font-medium capitalize text-lg">Free Shipping</h4>
              <p class="text-gray-500 text-sm">Order over $200</p>
            </div>
          </div>
          <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
            <img src="/public/assets/icons/money-back.svg" alt="Money Back" class="w-12 h-12 object-contain" />
            <div>
              <h4 class="font-medium capitalize text-lg">Money Returns</h4>
              <p class="text-gray-500 text-sm">30 days money returns</p>
            </div>
          </div>
          <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
            <img src="/public/assets/icons/service-hours.svg" alt="Service Hours" class="w-12 h-12 object-contain" />
            <div>
              <h4 class="font-medium capitalize text-lg">24/7 Service</h4>
              <p class="text-gray-500 text-sm">Available 24/7</p>
            </div>
          </div>
        </div>
      </div>

      <!-- new arrival -->
      <div class="container pb-16">
        <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
          Top new arrivals
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-6" id="topNewArrivalsList">
          <%- include('../../layouts/productList', { productList: topNewArrivals }) %>
        </div>
      </div>
      <!-- ./new arrivals -->

      <!-- ads -->
      <div class="container pb-16">
        <a href="/shop">
          <img src="/public/assets/images/offer.jpg" alt="ads" class="w-full" />
        </a>
      </div>
      <!-- ./ads -->

      <!-- product -->
      <div class="container pb-16">
        <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
          recomended for you
        </h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-6" id="productList">
          <%- include('../../layouts/productList', { productList: recommendedProducts }) %>
        </div>
      </div>
      <!-- ./product -->

      <%- include('../../layouts/footer') %>

</body>

</html>