<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - HATShop</title>

    <link
      rel="shortcut icon"
      href="../assets/images/favicon/favicon.ico"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="../css/output.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css"
    />
  </head>

  <body>
    <!-- header -->
    <header class="py-4 shadow-sm bg-white">
      <div class="container flex items-center justify-between">
        <a class="font-bold text-xl" href="/">
          <span class="text-primary">HAT</span
          ><span class="text-gray-800">Shop</span>
        </a>

        <div class="flex items-center space-x-4">
          <a
            href="CART_PAGE_URL"
            class="text-center text-gray-700 hover:text-primary transition relative"
          >
            <div class="text-2xl">
              <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="text-xs leading-3">Cart</div>
            <div
              class="absolute -right-3 -top-1 w-5 h-5 rounded-full flex items-center justify-center bg-primary text-white text-xs"
            >
              2
            </div>
          </a>
          <a
            href="ACCOUNT_PAGE_URL"
            class="text-center text-gray-700 hover:text-primary transition relative"
          >
            <div class="text-2xl">
              <i class="fa-regular fa-user"></i>
            </div>
            <div class="text-xs leading-3">Account</div>
          </a>
        </div>
      </div>
    </header>
    <!-- ./header -->

    <!-- navbar -->
    <nav class="bg-gray-800">
      <div class="container flex items-center justify-between lg:py-4">
        <div
          class="w-16 py-4 bg-primary lg:hidden flex justify-center cursor-pointer relative"
          id="menu-toggle"
        >
          <span class="text-white">
            <i class="fa-solid fa-bars"></i>
          </span>
          <div
            id="mobile-menu"
            class="absolute w-32 left-0 top-full bg-gray-800 z-10 divide-y divide-gray-300 divide-dashed transition duration-300 hidden"
          >
            <a
              href="/"
              class="block px-4 py-4 text-gray-200 hover:bg-primary hover:text-gray-200"
              >Home</a
            >
            <a
              href="SHOP_PAGE_URL"
              class="block px-4 py-4 text-gray-200 hover:bg-primary hover:text-gray-200"
              >Shop</a
            >
            <a
              href="<%=ABOUT_US_PAGE_URL%>"
              class="block px-4 py-4 text-gray-200 hover:bg-primary hover:text-gray-200"
              >About us</a
            >
            <a
              href=" <%=CONTACT_PAGE_URL%>"
              class="block px-4 py-4 text-gray-200 hover:bg-primary hover:text-gray-200"
              >Contact us</a
            >
          </div>
        </div>
        <div class="flex items-center justify-end lg:justify-between flex-grow">
          <div class="hidden lg:flex items-center space-x-6 capitalize">
            <a href="/" class="text-gray-200 hover:text-white transition"
              >Home</a
            >
            <a
              href="SHOP_PAGE_URL"
              class="text-gray-200 hover:text-white transition"
              >Shop</a
            >
            <a
              href="<%=ABOUT_US_PAGE_URL%>"
              class="text-gray-200 hover:text-white transition"
              >About us</a
            >
            <a
              href=" <%=CONTACT_PAGE_URL%>"
              class="text-gray-200 hover:text-white transition"
              >Contact us</a
            >
          </div>
          <div>
            <a
              href="<%=LOGIN_PAGE_URL%>"
              class="text-gray-200 hover:text-white transition"
              >Login</a
            >
            <a
              href="<%=REGISTER_PAGE_URL%>"
              class="text-gray-200 hover:text-white transition"
              >/Register</a
            >
          </div>
        </div>
      </div>
    </nav>
    <!-- ./navbar -->

    <!-- about_us -->
    <div class="container py-16 flex flex-col md:flex-row items-center">
      <!-- Text and Images List -->
      <div class="md:w-1/2 px-5">
        <h1 class="text-3xl font-semibold mb-4">
          Welcome to <span class="text-primary">HAT</span
          ><span class="text-gray-800">Shop</span>!
        </h1>
        <p class="text-gray-600 leading-relaxed mb-4 text-justify">
          We are dedicated to offering you the best products with a focus on
          dependability, customer service, and uniqueness. Our journey began in
          2020, with the vision to provide quality fashion products accessible
          to everyone.
        </p>

        <!-- Images List -->
        <div class="flex space-x-2 mt-4">
          <img
            src="../assets/images/about_us/1.jpg"
            alt="Image 1"
            class="w-16 h-16 object-cover rounded cursor-pointer border border-gray-300"
            onclick="changeImage('../assets/images/about_us/1.jpg')"
          />
          <img
            src="../assets/images/about_us/2.jpg"
            alt="Image 2"
            class="w-16 h-16 object-cover rounded cursor-pointer border border-gray-300"
            onclick="changeImage('../assets/images/about_us/2.jpg')"
          />
          <img
            src="../assets/images/about_us/3.jpg"
            alt="Image 3"
            class="w-16 h-16 object-cover rounded cursor-pointer border border-gray-300"
            onclick="changeImage('../assets/images/about_us/3.jpg')"
          />
          <img
            src="../assets/images/about_us/4.jpg"
            alt="Image 4"
            class="w-16 h-16 object-cover rounded cursor-pointer border border-gray-300"
            onclick="changeImage('../assets/images/about_us/4.jpg')"
          />
          <img
            src="../assets/images/about_us/5.jpg"
            alt="Image 5"
            class="w-16 h-16 object-cover rounded cursor-pointer border border-gray-300"
            onclick="changeImage('../assets/images/about_us/5.jpg')"
          />
        </div>
        <p class="text-gray-500 pt-2" style="font-size: 11px">
          Click on image to enlarge.
        </p>
      </div>

      <!--Main Image -->
      <div class="md:w-1/2 px-5">
        <img
          id="mainImage"
          src="../assets/images/about_us/5.jpg"
          alt="About Us"
          class="w-full h-auto object-cover rounded-lg shadow-md"
        />
      </div>
    </div>

    <div class="container py-16 px-10 bg-gray-50 rounded-lg">
      <section class="mb-12">
        <h2 class="text-xl font-semibold mb-4 text-gray-800">
          Company Overview
        </h2>
        <p class="text-gray-600 leading-relaxed">
          HATShop is your go-to destination for stylish home decor that
          transforms any space into a warm and inviting environment. Our curated
          collection features high-quality furniture, textiles, and unique
          accents, perfect for personalizing your home.
        </p>
      </section>

      <section class="mb-12">
        <h2 class="text-xl font-semibold mb-4 text-gray-800">Mission</h2>
        <p class="text-gray-600 leading-relaxed">
          At HATShop, our mission is to provide exceptional home decor solutions
          that inspire creativity and comfort in every space. We aim to enhance
          the beauty of homes with carefully selected products that cater to
          diverse styles and preferences.
        </p>
      </section>

      <section class="mb-12">
        <h2 class="text-xl font-semibold mb-4 text-gray-800">Vision</h2>
        <p class="text-gray-600 leading-relaxed">
          Our vision is to be a leading home decor retailer recognized for our
          unique offerings, outstanding customer service, and commitment to
          quality. We strive to create a community where every individual can
          find decor that truly reflects their style and personality.
        </p>
      </section>

      <section>
        <h2 class="text-xl font-semibold mb-6 text-gray-800">Team Members</h2>
        <div class="flex justify-evenly gap-6">
          <div class="flex flex-col items-center">
            <img
              src="/src/assets/images/team_members/21120148_image.jpg"
              alt="Tran Tien"
              class="w-40 h-40 rounded-full object-cover shadow-lg transform transition duration-300 hover:scale-125"
            />
            <p class="mt-2 text-center text-gray-700">Tran Tien</p>
          </div>
          <div class="flex flex-col items-center">
            <img
              src="/src/assets/images/team_members/21120192_image.jpg"
              alt="Thien An"
              class="w-40 h-40 rounded-full object-cover shadow-lg transform transition duration-300 hover:scale-125"
            />
            <p class="mt-2 text-center text-gray-700">Thien An</p>
          </div>
          <div class="flex flex-col items-center">
            <img
              src="/src/assets/images/team_members/21120065_image.jpg"
              alt="Mai Hanh"
              class="w-40 h-40 rounded-full object-cover shadow-lg transform transition duration-300 hover:scale-125"
            />
            <p class="mt-2 text-center text-gray-700">Mai Hanh</p>
          </div>
        </div>
      </section>
    </div>

    <!-- footer -->
    <footer class="bg-gray-50 pt-10 pb-8 border-t border-gray-200 mt-20">
      <div class="container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
          <!-- Brand Link -->
          <div>
            <a class="font-bold text-xl" href="/">
              <span class="text-primary">HAT</span
              ><span class="text-gray-800">Shop</span>
            </a>
            <p class="text-gray-500 mt-2">
              Our curated collection features high-quality furniture, textiles,
              and unique accents, perfect for personalizing your home.
            </p>
          </div>
          <!-- Stay Connected Section -->
          <div class="space-y-4">
            <h2 class="text-lg font-semibold text-gray-700">Stay Connected:</h2>
            <div class="flex space-x-4">
              <a href="#" class="text-gray-500 hover:text-gray-700"
                ><i class="fa-brands fa-facebook-square"></i
              ></a>
              <a href="#" class="text-gray-500 hover:text-gray-700"
                ><i class="fa-brands fa-instagram-square"></i
              ></a>
              <a href="#" class="text-gray-500 hover:text-gray-700"
                ><i class="fa-brands fa-twitter-square"></i
              ></a>
            </div>
          </div>
          <!-- Quick Links Section -->
          <div class="space-y-4">
            <h2 class="text-lg font-semibold text-gray-700">Quick Links:</h2>
            <ul class="space-y-2">
              <li>
                <a href="/" class="text-gray-500 hover:text-gray-700">Home</a>
              </li>
              <li>
                <a
                  href="SHOP_PAGE_URL"
                  class="text-gray-500 hover:text-gray-700"
                  >Shop</a
                >
              </li>
              <li>
                <a
                  href="<%=ABOUT_US_PAGE_URL%>"
                  class="text-gray-500 hover:text-gray-700"
                  >About Us</a
                >
              </li>
              <li>
                <a
                  href=" <%=CONTACT_PAGE_URL%>"
                  class="text-gray-500 hover:text-gray-700"
                  >Contact Us</a
                >
              </li>
              <li>
                <a
                  href="PRIVACY_PAGE_URL"
                  class="text-gray-500 hover:text-gray-700"
                  >Privacy Policy</a
                >
              </li>
            </ul>
          </div>

          <!-- Contact Us Section -->
          <div class="space-y-4">
            <h2 class="text-lg font-semibold text-gray-700">Contact Us:</h2>

            <div class="flex items-center text-gray-500">
              <p>
                <i class="fa-solid fa-envelope mr-2"></i>
                <a
                  href="mailto:hat.shop@gmail.com"
                  class="hatshopEmail text-gray-600 hover:underline"
                  id="hatshopEmail"
                  >hat.shop@gmail.com</a
                >
              </p>
            </div>

            <div class="flex items-center text-gray-500">
              <p>
                <i class="fa-solid fa-phone mr-2"></i>
                <span class="hatshopPhoneNumber text-gray-600"></span>
              </p>
            </div>

            <div class="flex items-center text-gray-500">
              <p>
                <i class="fa-solid fa-map-marker-alt mr-2"></i>
                <span class="hatshopAddress text-gray-600"
                  >227 Nguyen Van Cu, Ward 4, District 5, Ho Chi Minh City,
                  Vietnam</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- ./footer -->

    <!-- copyright -->
    <div class="bg-gray-800 py-4">
      <div class="container flex items-center justify-between">
        <p class="text-white">&copy; 2024 HATShop. All rights reserved</p>
        <div>
          <img src="/src/assets/images/methods.png" alt="methods" class="h-5" />
        </div>
      </div>
    </div>
    <!-- ./copyright -->
    <script type="module" src="/src/js/utils/Utils.js"></script>
  </body>
</html>
