<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layouts/head', { title: 'HATShop - Product' }) %>
  </head>

  <body>
    <!-- Header Section -->
    <%- include('../../layouts/adminHeader') %> <%-
    include('../../layouts/adminNavbar', {isLoggedIn: isLoggedIn}) %> <%-
    include('../../layouts/notification') %>

    <!-- breadcrumb -->
    <div class="container py-4 flex items-center justify-between gap-3">
      <!-- Breadcrumb Content -->
      <div class="flex items-center gap-3">
        <a href="/" class="text-primary text-base">
          <i class="fa-solid fa-house"></i>
        </a>
        <span class="text-sm text-gray-400">
          <i class="fa-solid fa-chevron-right"></i>
        </span>
        <p class="text-gray-600 font-medium"><%= product.product_name %></p>
      </div>

      <!-- Edit Product Button -->
      <a
        href="/admin/edit_product?id=<%= product.product_id %>"
        id="editProduct"
        class="flex items-center bg-primary text-white px-4 py-2 rounded h-12 hover:bg-transparent hover:text-primary transition"
      >
        <i class="fa-solid fa-edit mr-2"></i>
        Edit Product
      </a>
    </div>

    <!-- product-detail -->
    <div class="container grid lg:grid-cols-2 gap-10">
      <div class="flex flex-col items-center">
        <!--Main Image -->
        <% if (product.images.length > 0) { %>
        <img
          id="mainImage"
          src="<%= product.images[0].img_src %>"
          alt="Product's image"
          class="w-full rounded-lg shadow-md"
        />
        <% } %>
        <!-- Images List -->
        <div class="flex space-x-2 mt-4">
          <% product.images.forEach(function(image) { %>
          <img
            src="<%= image.img_src %>"
            alt="product image"
            class="w-16 h-16 object-cover rounded cursor-pointer border border-gray-300"
            onclick="changeImage('<%= image.img_src %>')"
          />
          <% }); %>
        </div>
      </div>

      <div>
        <h2 class="text-xl font-medium uppercase mb-2">
          <%= product.product_name %>
        </h2>
        <div class="space-y-2 mt-4">
          <p class="text-gray-800 font-medium space-x-2">
            <span>Status: </span>
            <span class="text-green-600">
              <%= product.quantity> 0 ? 'In Stock' : 'Out of Stock' %>
            </span>
          </p>
          <p class="space-x-2">
            <span class="text-gray-800 font-medium">Manufacturer: </span>
            <span class="text-gray-600">
              <%= product.manufacturer.manufacturer_name %>
            </span>
          </p>
          <p class="space-x-2">
            <span class="text-gray-800 font-medium">Category: </span>
            <span class="text-gray-600">
              <%= product.category.category_name %>
            </span>
          </p>
          <p class="space-x-2">
            <span class="text-gray-800 font-medium">Quantity: </span>
            <span class="text-gray-600"> <%= product.quantity %> </span>
          </p>
          <p class="space-x-2">
            <span class="text-gray-800 font-medium">Price: </span>
            <span class="text-xl text-primary font-semibold">
              <%= `$${product.price.toFixed(2)}` %>
            </span>
          </p>
          <div class="pt-5">
            <h3
              class="border-b border-gray-200 font-roboto text-gray-800 pb-3 font-medium"
            >
              Product details
            </h3>
            <p class="text-gray-600 pt-4"><%= product.detail %></p>
          </div>
        </div>
      </div>
    </div>
    <!-- ./product-detail -->

    <%- include('../../layouts/footer') %>
    <script type="module" src="/public/js/Product.js"></script>
  </body>
</html>
