<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layouts/head', { title: 'HATShop - Shop' }) %>
  <link rel="stylesheet" href="/public/css/shop.css" />
</head>

<body>
  <!-- Header Section -->
  <%- include('../../layouts/adminHeader') %>
  <%- include('../../layouts/adminNavbar', {isLoggedIn: isLoggedIn}) %>
  <div%- include('../../layouts/notification') %>

  <!-- breadcrumb -->
  <div class="container py-4 flex items-center gap-3">
    <a href="/" class="text-primary text-base">
      <i class="fa-solid fa-house"></i>
    </a>
    <span class="text-sm text-gray-400">
      <i class="fa-solid fa-chevron-right"></i>
    </span>
    <p class="text-gray-600 font-medium">Shop</p>
  </div>
  <!-- ./breadcrumb -->

  <!-- Filter Section -->
  <div class="bg-white px-4 pb-6 shadow rounded" id="filterSection">
    <div>
    <div class="flex justify-between items-center py-3">
      <h3 class="text-xl text-gray-800 uppercase font-medium">Filters</h3>
      <button id="filterClose" class="text-gray-600 hover:text-primary">
        <i class="fa-solid fa-times"></i>
      </button>
    </div>
    <div class="divide-y divide-gray-200 space-y-5">
      <form id="filterForm">
        <!-- Categories Filter -->
      <div>
        <h3 class="text-lg text-gray-800 my-3 font-medium cursor-pointer flex items-center justify-between"
          id="toggleCategories">
          Categories
          <span id="categoriesIcon" class="ml-2 text-gray-500">
            <i class="fa-solid fa-plus"> </i>
          </span>
        </h3>

        <div class="space-y-2 hidden" id="categoriesList">
          <% categories.forEach(category=> { %>
            <div class="flex items-center">
              <input type="checkbox" name="catVal" id="cat+<%=category.category_id%>"
                class="text-primary focus:ring-0 rounded-sm cursor-pointer"
                <%=selectedFilters.categories.includes(category.category_id) ? 'checked' : '' %>
              />
              <label for="cat+<%=category.category_id%>" class="text-gray-600 ml-3 cursor-pointer">
                <%= category.category_name %>
              </label>
            </div>
            <% }); %>
        </div>
      </div>

      <!-- Manufacturers Filter -->
      <div class="pt-4">
        <h3 class="text-lg text-gray-800 my-3 font-medium cursor-pointer flex items-center justify-between"
          id="toggleManufacturers">
          Manufacturers
          <span id="manufacturersIcon" class="text-gray-500">
            <i class="fa-solid fa-plus"></i>
          </span>
        </h3>
        <div class="space-y-2 hidden" id="manufacturersList">
          <% manufacturers.forEach(manufacturer=> { %>
            <div class="flex items-center">
              <input type="checkbox" name="brandVal" id="brand+<%=manufacturer.manufacturer_id%>"
                class="text-primary focus:ring-0 rounded-sm cursor-pointer"
                <%=selectedFilters.manufacturers.includes(manufacturer.manufacturer_id) ? 'checked' : '' %>
              />
              <label for="brand+<%=manufacturer.manufacturer_id%>" class="text-gray-600 ml-3 cursor-pointer">
                <%= manufacturer.manufacturer_name %>
              </label>
            </div>
            <% }); %>
        </div>
      </div>

      <!-- Price Filter -->
      <div class="pt-4">
        <h3 class="text-lg text-gray-800 my-3 font-medium">Price</h3>
        <div class="mt-4 flex items-center">
          <input type="text" name="min" id="min"
            class="w-full border-gray-300 focus:border-primary rounded focus:ring-0 px-3 py-1 text-gray-600 shadow-sm"
            placeholder="min" value="<%= selectedFilters.minPrice || '' %>" />
          <span class="mx-3 text-gray-500">-</span>
          <input type="text" name="max" id="max"
            class="w-full border-gray-300 focus:border-primary rounded focus:ring-0 px-3 py-1 text-gray-600 shadow-sm"
            placeholder="max" value="<%= selectedFilters.maxPrice || '' %>" />
        </div>
      </div>

      <!-- Status Filter -->
      <div class="pt-4">
        <h3 class="text-lg text-gray-800 my-3 font-medium">Status</h3>
        <div class="space-y-2">
          <div class="flex items-center">
            <input type="radio" name="status" id="statusInStock" value="IN_STOCK"
              class="text-primary focus:ring-0 rounded-sm cursor-pointer" <%=selectedFilters.status==='IN_STOCK'
              ? 'checked' : '' %>
            />
            <label for="statusInStock" class="text-gray-600 ml-3 cursor-pointer">
              In Stock
            </label>
          </div>
          <div class="flex items-center">
            <input type="radio" name="status" id="statusSoldOut" value="OUT_OF_STOCK"
              class="text-primary focus:ring-0 rounded-sm cursor-pointer" <%=selectedFilters.status==='OUT_OF_STOCK'
              ? 'checked' : '' %>
            />
            <label for="statusSoldOut" class="text-gray-600 ml-3 cursor-pointer">
              Sold Out
            </label>
          </div>
          <div class="flex items-center">
            <input type="radio" name="status" id="statusSuspend" value="SUSPEND"
              class="text-primary focus:ring-0 rounded-sm cursor-pointer" <%=selectedFilters.status==='SUSPEND'
              ? 'checked' : '' %>
            />
            <label for="statusSuspend" class="text-gray-600 ml-3 cursor-pointer">
              Suspend
            </label>
          </div>
        </div>
      </div>
      </form>
      </div>
    </div>

    <!-- Buttons -->
    <div class="pt-4 flex justify-between">
      <button id="resetFilter" class="bg-gray-200 text-gray-600 px-4 py-2 rounded hover:bg-gray-300">
        Reset Filters
      </button>
      <button id="applyFilter" type="submit" form="filterForm" class="bg-primary text-white px-4 py-2 ml-4 rounded hover:bg-primary-dark">
        Apply Filters
      </button>
    </div>
  </div>
  <!-- End Filter Section -->
   

  <!-- Shop Section -->
  <div class="container gap-6 pt-4 pb-4 items-start">
    <div class="flex items-center">
      <select name="sort" id="sort"
        class="w-44 h-12 text-sm text-gray-600 py-3 px-4 border-gray-300 shadow-sm rounded focus:ring-primary focus:border-primary">
        <option value="" <%= selectedSort === '' ? 'selected' : '' %>>Default sorting</option>
        <option value="price-low-to-high" <%= selectedSort === 'price-low-to-high' ? 'selected' : '' %>>
          Price low to high
        </option>
        <option value="price-high-to-low" <%= selectedSort === 'price-high-to-low' ? 'selected' : '' %>>
          Price high to low
        </option>
        <option value="latest" <%= selectedSort === 'latest' ? 'selected' : '' %>>Latest product</option>
      </select>

      <!-- Search bar -->
  <div class="inline-flex w-full max-w-xl relative mx-5">
    <form method="GET" action="/admin/admin_shop" class="search-form w-full">
      <!-- Icon -->
      <label for="search" class="absolute left-4 top-2 transform text-lg text-gray-400">
        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
        <span class="sr-only">Search</span>
      </label>
      <!-- Search Input -->
      <input type="text" name="query" id="search" placeholder="Search products..."
        class="w-full border border-primary pl-12 py-2 pr-3 rounded-md focus:ring-primary focus:border-primary"
        value="<%= typeof query !== 'undefined' ? query : '' %>" aria-label="Search products" />
      <!-- Hidden Inputs for Filters -->
      <% if (selectedFilters.categories && selectedFilters.categories.length> 0) { %>
        <input type="hidden" name="categories" value="<%= selectedFilters.categories.join(',') %>">
        <% } %>
          <% if (selectedFilters.manufacturers && selectedFilters.manufacturers.length> 0) { %>
            <input type="hidden" name="manufacturers" value="<%= selectedFilters.manufacturers.join(',') %>">
            <% } %>
              <% if (selectedFilters.minPrice) { %>
                <input type="hidden" name="minPrice" value="<%= selectedFilters.minPrice %>">
                <% } %>
                  <% if (selectedFilters.maxPrice) { %>
                    <input type="hidden" name="maxPrice" value="<%= selectedFilters.maxPrice %>">
                    <% } %>
                      <% if (selectedFilters.status) { %>
                        <input type="hidden" name="status" value="<%= selectedFilters.status %>">
                        <% } %>
                          <% if (selectedSort) { %>
                            <input type="hidden" name="sort" value="<%= selectedSort %>">
                            <% } %>
    </form>
  </div>

  <div class="flex gap-2 ml-auto">
    <!-- Add Manufacturer Button -->
    <a href="/admin/add_manufacturer" id="newManufacturer"
      class="flex items-center bg-primary text-white px-4 py-2 rounded h-12 hover:bg-transparent hover:text-primary">
      <i class="fa-solid fa-plus mr-2"></i> Manufacturer
    </a>
  
    <!-- Add Category Button -->
    <a href="/admin/add_category" id="newCategory"
      class="flex items-center bg-primary text-white px-4 py-2 rounded h-12 hover:bg-transparent hover:text-primary">
      <i class="fa-solid fa-plus mr-2"></i> Category
    </a>
  
    <!-- New Product Button -->
    <a href="/admin/add_product" id="newProduct"
      class="flex items-center bg-primary text-white px-4 py-2 rounded h-12 hover:bg-transparent hover:text-primary">
      <i class="fa-solid fa-plus mr-2"></i>Product
    </a>
    
    <button id="filterToggle" class="bg-primary text-white px-4 py-2 rounded h-12">
      <i class="fa-solid fa-filter"></i>
    </button>
  </div>
  
    </div>
  </div>
  
  <!-- Product List -->
  <div id="productList">
    <% if (products && products.length > 0) { %>
      <%- include('../../layouts/admin_productList', { productList: products }) %>
    <% } else { %>
      <p>No products found.</p>
    <% } %>
  </div>
  
  <!-- Pagination Controls -->
  <%- include('../../layouts/pagination', { currentPage: currentPage, totalPages: totalPages, }) %>

  <!-- Footer Section -->
  <%- include('../../layouts/footer') %>

  <!-- Scripts -->
  <script src="/public/js/AdminShop.js"></script>
</body>

</html>