<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layouts/head', { title: 'HATShop - Home decoration' }) %>
</head>

<body>
  <%- include('../../layouts/adminHeader') %>
  <%- include('../../layouts/notification') %>
  <%- include('../../layouts/adminNavbar', {isLoggedIn: isLoggedIn}) %>
  <div class="container mx-auto p-4">
    <div class="flex justify-between items-center mb-4">
      <select id="timeRange" class="border rounded px-2 py-1 w-24">
        <option value="day" <%=timeRange =='day' ? 'selected' : '' %>>Day</option>
        <option value="week" <%=timeRange =='week' ? 'selected' : '' %>>Week</option>
        <option value="month" <%=timeRange =='month' ? 'selected' : '' %>>Month</option>
      </select>
    </div>
  </div>
  
  <div class="container grid lg:grid-cols-8" id="revenue" data-revenue="<%= JSON.stringify(revenueData) %>">

    <%- include ('dashboardReport', {revenueData, timeRange}) %>

  </div>
      

  <%- include('../../layouts/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/public/js/Dashboard.js"></script>
</body>

</html>