<table class="table-fixed w-full border-collapse border border-gray-300">
  <thead class="border-b border-gray-300">
    <tr class=" ">
      <th class="text-primary px-4 py-4 text-left w-full">Name</th>
      <th class="text-primary px-4 py-4 text-left w-full">Email</th>
      <th class="text-primary px-4 py-4 text-left w-1/3">Role</th>
      <th class="text-primary px-4 py-4 text-left w-1/3">Status</th>
      <th class="text-primary px-4 py-4 text-left w-full">Registration Time</th>
      <th class="text-primary px-4 py-4 text-left w-1/3">Action</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach((eachUser, index)=> { %>
      <tr class="hover:bg-gray-200 ">
        <td class="px-4 py-4 break-words w-full"><%= eachUser.name %></td>
        <td class="px-4 py-4 break-words w-full"><%= eachUser.email %></td>
        <td class="px-4 py-4 w-1/3"><%= eachUser.user_role %></td>
        <td class="px-4 py-4 w-1/3" id='<%= "status" + index %>'><%= eachUser.status %></td>
        <td class="px-4 py-4 break-words w-full"><%= new Date(eachUser.created_at).toLocaleString('en-US', { timeZone: 'Asia/Bangkok' , dateStyle: 'medium' ,timeStyle: 'short' }) %></td>
        <td class="px-4 py-4 w-1/3 text-white">
          <% if (eachUser.user_id !=user.user_id) {%>
            <button id='<%= "change-status-btn" + index %>' class="bg-primary w-full"
              data-user='<%= JSON.stringify(eachUser) %>' data-index="<%= JSON.stringify(index) %>"
              onclick="openModal(this)">
              <%= eachUser.status=='ACTIVE' ? "Ban" : "Unban" %>
            </button>
            <% } %>
        </td>
      </tr>
      <% }); %>
  </tbody>
</table>

<div id="modal" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center">
  <div class="bg-white rounded-lg shadow-lg shadow-primary max-w-md md:w-24 sm:w-full p-6 bord border border-primary">
    <h2 class="text-xl font-bold text-primary mb-4 text-center">Confirm Action</h2>
    <p class="justify-start">Are you sure you want to <span id="action-field"></span> <span id="username-field"></span>?</p>
    <div class="pt-4 flex justify-end">
      <button type="button" class="px-4 bg-gray-300 hover:bg-gray-400 text-primary rounded-lg" onclick="closeModal()">
        Cancel
      </button>
      <button type="submit" class="px-4 bg-blue-500 hover:bg-blue-600 text-primary rounded-lg" onclick="action()">
        Confirm
      </button>
    </div>
  </div>
</div>

<script type="module" src="/public/js/UserList.js"></script>