<div class="flex justify-center items-center">
  <div class="container mx-auto">
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
      <table class="table-auto w-full text-center">
        <!-- Tiêu đề bảng -->
        <thead class="bg-primary text-white uppercase text-sm">
          <tr>
            <th class="py-4 px-6 text-left">Product</th>
            <th class="py-4 px-6">Manufacture</th>
            <th class="py-4 px-6">Category</th>
            <th class="py-4 px-6">Price</th>
            <th class="py-4 px-6">Quantity</th>
            <th class="py-4 px-6">Status</th>
            <th class="py-4 px-6">Details</th>
          </tr>
        </thead>

        <!-- Bảng -->
        <tbody class="text-gray-700 text-sm">
          <% productList.forEach(product => { %>
          <tr class="border-b border-gray-200 hover:bg-gray-100">
            <!-- Tên sản phẩm -->
            <td class="py-4 px-6 text-left">
              <a
                href="/admin/admin_product?id=<%= product.product_id %>"
                class="hover:text-primary font-medium"
              >
                <%= product.product_name %>
              </a>
            </td>

            <!-- Nhà sản xuất -->
            <td class="py-4 px-6">
              <%= product.manufacturer.manufacturer_name %>
            </td>

            <!-- Loại sản phẩm -->
            <td class="py-4 px-6"><%= product.category.category_name %></td>

            <!-- Giá tiền -->
            <td class="py-4 px-6">$<%= product.price.toFixed(2) %></td>

            <!-- Số lượng -->
            <td class="py-4 px-6"><%= product.total_purchases %></td>

            <!-- Tình trạng -->
            <td class="py-4 px-6">
              <%= product.quantity> 0 ? 'In Stock' : 'Sold out' %>
            </td>

            <!-- Xem chi tiết -->
            <td class="py-4 px-6">
              <a
                href="/admin/admin_product?id=<%= product.product_id %>"
                title="Details"
                class="text-blue-500 hover:text-blue-700"
              >
                <i class="fa-solid fa-eye"></i>
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
