<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layouts/head', { title: 'HATShop - Change password' }) %>
  </head>

  <body>
    <%- include('../../layouts/header') %>

    <%- include('../../layouts/navbar', {isLoggedIn: isLoggedIn}) %>

    <%- include('../../layouts/notification') %>

    <!-- change password -->
    <div class="contain py-16">
      <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
        <h2 class="text-2xl uppercase font-medium mb-1">Change password</h2>
        
        <% if (typeof error !== 'undefined') { %>
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
            <strong class="font-bold">Error!</strong>
            <span class="block sm:inline"><%= error %></span>
          </div>
        <% } %>

        <div>
          <div class="space-y-2">
            <div>
              <label for="current" class="text-gray-600 mb-2 block">Current password</label>
              <input
                type="password"
                name="current"
                id="current"
                class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                placeholder="Current password"
                required
              />
            </div>
            <div>
              <label for="password" class="text-gray-600 mb-2 block">New password</label>
              <input
                type="password"
                name="password"
                id="password"
                class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                placeholder="New password"
                required
              />
            </div>
            <div>
              <label for="confirm" class="text-gray-600 mb-2 block">Confirm password</label>
              <input
                type="password"
                name="confirm"
                id="confirm"
                class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                placeholder="Confirm password"
                required
              />
            </div>
          </div>
          <div class="mt-4">
            <button
              class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium"
              onclick="change()"
            >
              Change password
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ./change password -->

    <%- include('../../layouts/footer') %>
    <script type="module" src="/public/js/ChangePassword.js"></script>
  </body>
</html>
